@function f1($a){
    @return $a/16+rem;
}
@function f2($a, $b){
    @return $a/16+rem $b/16+rem;
}
*{
    transition: all 0.2s;
    box-sizing: border-box;
}
html,body{
    min-height: 100%;
    font-size: 16px;
}
body{
    font-family: 'AroundTheWorld';
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: black;
    text-decoration: none;
    display: block;
}
h1,h2{
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
.container{
    width: 90%;
    margin: 0 auto;
}